.infoSection{
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
    
}

.infoDesc{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.infoDesc span{
    font-weight: 600;
}