:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: Monserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

body {
  box-sizing: border-box;
  margin: 0;
}

input {
  border-radius: 4px;
  height: 36px;
  border: 1px solid #808080;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 4px;
  outline: none;
}

input:hover,
input:focus {
  border: 1px solid #d58917;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  background-color: #efb01b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

button:hover {
  background-color: #d58917;
}

a:hover,
a:focus{
  color: #e96f2d;
}